@import url("./field.css");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  letter-spacing: 0.8px;
  font-family: "Roboto";
}

body {
  padding: 2rem;
  color: brown;
  font-size: 20px;
  font-family: "Roboto";
}

main {
  min-height: 80vh;
}

h1 {
  font-family: "Roboto";
  text-align: center;
  margin: 0.5rem 0;
  font-variant: small-caps;
}

button {
  font-size: inherit;
  outline: none;
  border: none;
  text-align: center;
  font-weight: 600;
  padding: 0.5rem;
  background-color: rgb(42, 40, 40);
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.5rem;
  color: inherit;
}

.progress {
  margin: 1rem;
}

.progress_bar {
  width: 100%;
  padding: 1rem;  
}

.progress_bar::-moz-progress-bar {
  border: none;
  background-color: #ff8630;
}

.progress_bar::-webkit-progress-bar {
  border: none;
  background-color: #ff8630;
}

.progress_bar::-webkit-progress-value {
  background-color: #ff8630;
}

.controls {
  margin: 1rem;
  padding: 0.5rem;
}
